{% extends "core/base.html" %}
{% load allauth i18n crispy_forms_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<section class="hero is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <div class="box">
                    <h1 class="title is-4 has-text-centered">
                        {% trans "Change Password" %}
                    </h1>

                    {% url 'account_change_password' as action_url %}

                    <form method="post" action="{{ action_url }}" class="manage" novalidate>
                        {% csrf_token %}
                        {{form|crispy}}

                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                    {% trans "Change Password" %}
                                </button>
                            </div>
                        </div>
                    </form>

                    <p class="has-text-centered mt-4">
                        <a href="{% url 'account_reset_password' %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
