[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.3"
dj-database-url = "*"
django-organizations = "*"
pillow = "*"
django-mptt = "*"
weasyprint = "==52.5"
django-crispy-forms = "*"
crispy-bulma = "*"
django-model-utils = "*"
django-taggit = "*"
django-debug-toolbar = "*"
django-tabular-permissions = "*"
fontawesomefree = "==6.2.1"
django-autocomplete-light = "*"
paho-mqtt = "*"
django-mathfilters = "*"
bokeh = "*"
django-htmx = "*"
django-pandas = "*"
whitenoise = "*"
gunicorn = "*"
setuptools = "*"
django-bootstrap-datepicker-plus = "*"
django-bootstrap4 = "*"
typing-extensions = "*"
django-filter = "*"
platformdirs = "*"
django-rosetta = "*"
django-qr-code = "*"
django-cloudinary-storage = "*"
django-cleanup = "*"
django-polymorphic = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
num2words = "*"
django-timezone-field = "*"
jupyter = "*"
django-extensions = "*"
ipykernel = "==6.23.3"
notebook = "==6.5.6"
django-embed-video = "*"
django-subdomains = "*"
django-hosts = "*"
django-allauth = "*"
django-pivot = "*"
python-dotenv = "*"
psycopg2-binary = "*"
django-ckeditor = "*"
djangorestframework = "*"
markdown = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
twilio = "*"
django-template-partials = "*"
django-import-export = {extras = ["all"], version = "*"}
django-flatpickr = "*"
mistune = "*"
boto3 = "*"
django-storages = {extras = ["s3"], version = "*"}
python-decouple = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
