{% extends 'core/quanta.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load l10n %}
{% load partials %}
{% load core %}

{% block title %}
Organizations coverage_facturation
{% endblock title %}

{% block quanta_content %}

{% partialdef list inline=True %}
{% include "core/partials/messages.html" %}

<div class="block px-2 mx-2 px-5-desktop mx-5-desktop fade-in">


    <section class="section mx-0 px-0 fade-in">
        <form id="my_form" method="GET"
            hx-get="{% url 'organization_features:orders:coverage_facturation_list' request.organization.slug %}"
            hx-target="#quanta_content" hx-swap="innerHTML" hx-push-url="true" hx-indicator="#custom-htmx-indicator"
            class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-start" style="gap: 10px;">

            {% csrf_token %}

            <!-- Filters Container -->
            <div class="is-flex is-flex-wrap-wrap is-justify-content-start" style="gap: 10px;">
                {% for field in filter.form %}
                <div class="field" style="width: 150px; min-width: 120px;">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                {{ filter.form.media }}
            </div>

            <!-- Filter Button -->
            <div class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-start">
                <button type="submit"
                    hx-get="{% url 'organization_features:orders:coverage_facturation_list' request.organization.slug %}"
                    hx-target="#quanta_content" hx-swap="innerHTML" hx-push-url="true"
                    hx-indicator="#custom-htmx-indicator" hx-include="#my_form"
                    class="button mx-1 is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <span>Filter Items</span>
                </button>

                <button type="submit"
                    hx-get="{% url 'organization_features:order_docs:coverage_facturation_list_export' request.organization.slug 'pdf' %}"
                    target="_blank" hx-swap="none" hx-push-url="true" hx-include="#my_form"
                    class="button mx-1 is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                    <span>PDF</span>
                </button>

                <button type="submit"
                    hx-get="{% url 'organization_features:order_docs:coverage_facturation_list_export' request.organization.slug 'excel' %}"
                    target="_blank" hx-swap="none" hx-push-url="true" hx-include="#my_form"
                    class="button mx-1 is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-solid fa-file-excel"></i>
                    </span>
                    <span>Excel</span>
                </button>
            </div>
        </form>
    </section>

    <div class="has-text-right my-3">
        {% if request.organization_user.is_admin or 'orders.add_coveragefacturation' in organization_user_perms %}
        <a class="button is-primary"
            hx-get="{% url 'organization_features:orders:coverage_facturation_add' request.organization.slug %}?{% url_replace %}"
            hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator" hx-swap="innerHTML">Add
            coverage_facturation</a>
        {% endif %}
    </div>

    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="is-selected">
                <tr class="is-selected">
                    <th>#</th>
                    <th style="text-align: center;">Customer</th>
                    <th style="text-align: center;">CoverageDelivery</th>
                    <th style="text-align: center;">Placed at</th>
                    <th style="text-align: center;">Total price</th>
                    <th style="text-align: center;">Complement</th>
                    <th style="text-align: center;">Coverage</th>
                    <th style="text-align: center;" colspan="13">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for coverage_facturation in coverage_facturations %}
                <tr>
                    <td style="text-align: center;">{{ forloop.counter0 }}</td>

                    <td style="text-align: center;">{{ coverage_facturation.medical_visit }}</td>
                    <td style="text-align: center;">{{ coverage_facturation.coverage_delivery_receipt }}</td>
                    <td style="text-align: center;">{{ coverage_facturation.created}}</td>
                    <td style="text-align: center;">{{ coverage_facturation.total_price.normalize}}F</td>
                    <td style="text-align: center;">{{ coverage_facturation.complement_total_price.normalize}}F</td>
                    <td style="text-align: center;">{{ coverage_facturation.coverage_total_price.normalize}}F</td>
                    <td style="text-align: center;"><a
                            hx-get="{% url 'organization_features:orders:coverage_facturation_stock_list' request.organization.slug coverage_facturation.pk %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            hx-replace-url="true" class="button is-primary">Items</a>
                    </td>

                    <td style="text-align: center;"><a class="button is-primary"
                            href="{% url 'organization_features:orders:coverage_facturation_proforma' request.organization.slug coverage_facturation.pk %}">Proforma</a>
                    </td>

                    <td style="text-align: center;"><a class="button is-dark"
                            href="{% url 'organization_features:orders:coverage_facturation_bill' request.organization.slug coverage_facturation.pk %}">Bill</a>
                    </td>

                    <td style="text-align: center;"><a class="button is-dark"
                            href="{% url 'organization_features:orders:coverage_facturation_mini_receipt' request.organization.slug coverage_facturation.pk %}">Mini
                            reçu</a>
                    </td>

                    <td style="text-align: center;"><a class="button is-link"
                            href="{% url 'organization_features:orders:coverage_facturation_bordereau' request.organization.slug coverage_facturation.pk %}">Bordereau</a>
                    </td>
                    <td style="text-align: center;"><a class="button is-warning"
                            href="{% url 'organization_features:orders:coverage_facturation_receipt' request.organization.slug coverage_facturation.pk %}">Receipt</a>
                    </td>


                    {% if request.organization_user.is_admin or 'orders.deliver_coveragefacturation' in organization_user_perms %}
                    <td style="text-align: center;">
                        {% if coverage_facturation.is_delivered %}
                        <i class="fa-solid fa-check fa-2x has-text-success"></i>
                        {% else %}
                        <button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_deliver' request.organization.slug coverage_facturation.pk %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to deliver?" class="button">
                            <i class="fa-solid fa-truck fa-1x has-text-warning"></i>
                        </button>
                        {% endif %}
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.validate_coveragefacturation' in organization_user_perms %}
                    <td style="text-align: center;">
                        {% if coverage_facturation.is_finished %}
                        <i class="fa-solid fa-check fa-2x has-text-success"></i>
                        {% else %}
                        <a class="button is-warning"
                            hx-get="{% url 'organization_features:orders:coverage_facturation_finished' request.organization.slug coverage_facturation.pk %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to approve ?">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </a>
                        {% endif %}
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.change_coveragefacturation' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_change' request.organization.slug coverage_facturation.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.view_coveragefacturation' in organization_user_perms %}
                    <td style="text-align: center;">
                        <button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_detail' request.organization.slug coverage_facturation.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-eye"></i></button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.delete_coveragefacturation' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_delete' request.organization.slug coverage_facturation.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to delete?" class="button">
                            <i class="fa-solid fa-trash-can fa-1x has-text-danger"></i></button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/partials/pagination.html" %}
    </div>
</div>

{% endpartialdef %}

{% endblock quanta_content %}