{% extends 'core/quanta.html' %}
{% load partials %}
{% load core %}

{% block title %}
Organizations coverage_facturation_stock
{% endblock title %}

{% block quanta_content %}

{% partialdef list inline=True %}
{% include "core/partials/messages.html" %}

<div class="block px-2 mx-2 px-5-desktop mx-5-desktop fade-in">

    <div class="has-text-right my-3">
        {% if request.organization_user.is_admin or 'orders.add_coveragefacturationbatch' in organization_user_perms %}
        <a class="button is-primary"
            hx-get="{% url 'organization_features:orders:coverage_facturation_stock_add' request.organization.slug coverage_facturation.pk %}"
            hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator" hx-swap="innerHTML">Add
            coverage_facturation_stock</a>
        {% endif %}
    </div>

    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="is-selected">
                <tr class="is-selected">
                    <th>#</th>
                    <th style="text-align: center;">Pharmacy</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Unit price</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: center;">Total price</th>
                    <th style="text-align: center;">Custom name</th>
                    <th style="text-align: center;">User</th>
                    <th style="text-align: center;">created</th>
                    <th style="text-align: center;">modified</th>
                    <th style="text-align: center;" colspan="4">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for coverage_facturation_stock in coverage_facturation_stocks %}
                <tr>
                    <td style="text-align: center;">{{ forloop.counter0 }}</td>

                    <td style="text-align: center;">{{ coverage_facturation_stock.stock_choice }}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.batch.item.name}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.unit_price.normalize}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.quantity}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.total_price.normalize}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.custom_batch_name}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.organization_user}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.created}}</td>
                    <td style="text-align: center;">{{ coverage_facturation_stock.modified}}</td>


                    {% if request.organization_user.is_admin or 'orders.change_coveragefacturationbatch' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_stock_change' request.organization.slug coverage_facturation.pk coverage_facturation_stock.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.view_coveragefacturationbatch' in organization_user_perms %}
                    <td style="text-align: center;">
                        <button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_stock_detail' request.organization.slug coverage_facturation.pk coverage_facturation_stock.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-eye"></i></button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.delete_coveragefacturationbatch' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:coverage_facturation_stock_delete' request.organization.slug coverage_facturation.pk coverage_facturation_stock.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to delete?" class="button">
                            <i class="fa-solid fa-trash-can fa-1x has-text-danger"></i></button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/partials/pagination.html" %}
    </div>
</div>

{% endpartialdef %}

{% endblock quanta_content %}