{% extends 'core/quanta.html' %}
{% load humanize %}
{% load qr_code %}
{% load core %}
{% load crispy_forms_tags %}
{% load partials %}
{% load core %}

{% block title %}
Organizations coverage_consultation
{% endblock title %}

{% block quanta_content %}

{% partialdef list inline=True %}
{% include "core/partials/messages.html" %}

<div class="block px-2 mx-2 px-5-desktop mx-5-desktop fade-in">

    <div class="has-text-right my-3">
        {% if request.organization_user.is_admin or 'orders.add_facturation_tem' in organization_user_perms %}
        <a class="button is-primary"
            hx-get="{% url 'organization_features:orders:coverage_consultation_add' request.organization.slug coverage_facturation.pk %}"
            hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator" hx-swap="innerHTML">Add
            coverage_consultation</a>
        {% endif %}
    </div>

    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="is-selected">
                <tr class="is-selected">
                    <th>#</th>
                    <th style="text-align: center;">Agency</th>
                    <th style="text-align: center;">created</th>
                    <th style="text-align: center;">Customer</th>
                    <th style="text-align: center;">Commercial</th>
                    <th style="text-align: center;">OD</th>
                    <th style="text-align: center;">OG</th>
                    <th style="text-align: center;">Traitement</th>
                    <th style="text-align: center;" colspan="4">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for coverage_consultation in coverage_consultations %}
                <tr>
                    <td style="text-align: center;">{{ forloop.counter0 }}</td>

                    <td style="text-align: center;">{{ coverage_consultation.organization.name }}</td>
                    <td style="text-align: center;">{{ coverage_consultation.created }}</td>
                    <td style="text-align: center;">{{ coverage_consultation.facturation.Customer }}</td>
                    <td class="subtitle is-size-5" style="text-align: center;">
                        {{ coverage_consultation.facturation.commercial.organization_user.user.username }}
                    </td>
                    <td style="text-align: center;">
                        <div>
                            {{ coverage_consultation.render_right|safe }}
                        </div>
                    </td>

                    <td style="text-align: center;">
                        <div>
                            {{ coverage_consultation.render_left|safe }}
                        </div>
                    </td>

                    <td style="text-align: center;">
                        <div>
                            {{ coverage_consultation.render_additional_info|safe }}
                        </div>
                    </td>

                    <td style="text-align: center;"><a class="button is-link"
                            href="{% url 'organization_features:orders:coverage_consultation_receipt' request.organization.slug coverage_consultation.coverage_facturation_id coverage_consultation.pk %}">Ordonance</a>
                    </td>

                    {% if request.organization_user.is_admin or 'orders.change_coverage_consultation' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:coverage_consultation_change' request.organization.slug coverage_facturation.pk coverage_consultation.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.view_coverage_consultation' in organization_user_perms %}
                    <td style="text-align: center;">
                        <button
                            hx-get="{% url 'organization_features:orders:coverage_consultation_detail' request.organization.slug coverage_facturation.pk coverage_consultation.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-eye"></i></button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.delete_coverage_consultation' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:coverage_consultation_delete' request.organization.slug coverage_facturation.pk coverage_consultation.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to delete?" class="button">
                            <i class="fa-solid fa-trash-can fa-1x has-text-danger"></i></button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/partials/pagination.html" %}
    </div>
</div>

{% endpartialdef %}

{% endblock quanta_content %}