{% extends 'core/quanta.html' %}
{% load partials %}
{% load core %}

{% block title %}
Organizations doctor
{% endblock title %}

{% block quanta_content %}

{% partialdef list inline=True %}
{% include "core/partials/messages.html" %}

<div class="block px-2 mx-2 px-5-desktop mx-5-desktop fade-in">

    <div class="has-text-right my-3">
        {% if request.organization_user.is_admin or 'orders.add_doctor' in organization_user_perms %}
        <a class="button is-primary"
            hx-get="{% url 'organization_features:orders:doctor_add' request.organization.slug %}?{% url_replace %}"
            hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator" hx-swap="innerHTML">Add
            doctor</a>
        {% endif %}
    </div>

    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="is-selected">
                <tr class="is-selected">
                    <th>#</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Phone number</th>
                    <th style="text-align: center;">Type</th>
                    <th style="text-align: center;">Active</th>
                    <th style="text-align: center;" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for doctor in doctors %}
                <tr>
                    <td style="text-align: center;">{{ forloop.counter0 }}</td>
                    <td style="text-align: center;">{{ doctor.organization_user.user.username }}</td>
                    <td style="text-align: center;">{{ doctor.organization_user.user.email}}</td>
                    <td style="text-align: center;">{{ doctor.organization_user.user.phone_number}}</td>
                    <td style="text-align: center;">{{ doctor.type}}</td>
                    <td style="text-align: center;">
                        {% if doctor.is_active %}
                        <i class="fa-solid fa-check fa-2x has-text-success"></i>
                        {% else %}
                        <i class="fa-solid fa-xmark fa-2x has-text-danger-light"></i>
                        {% endif %}
                    </td>

                    {% if request.organization_user.is_admin or 'orders.change_doctor' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:doctor_change' request.organization.slug doctor.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.view_doctor' in organization_user_perms %}
                    <td style="text-align: center;">
                        <button
                            hx-get="{% url 'organization_features:orders:doctor_detail' request.organization.slug doctor.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-eye"></i></button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.delete_doctor' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:doctor_delete' request.organization.slug doctor.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to delete?" class="button">
                            <i class="fa-solid fa-trash-can fa-1x has-text-danger"></i></button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/partials/pagination.html" %}
    </div>
</div>

{% endpartialdef %}

{% endblock quanta_content %}