{% extends 'core/quanta.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% load l10n %}
{% load partials %}
{% load core %}

{% block title %}
Organizations hospitalization
{% endblock title %}

{% block quanta_content %}

{% partialdef list inline=True %}
{% include "core/partials/messages.html" %}

<div class="block px-2 mx-2 px-5-desktop mx-5-desktop fade-in">

    <section class="section mx-0 px-0 fade-in">
        <form id="my_form" method="GET"
            hx-get="{% url 'organization_features:orders:hospitalization_list' request.organization.slug %}"
            hx-target="#quanta_content" hx-swap="innerHTML" hx-push-url="true" hx-indicator="#custom-htmx-indicator"
            class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-start" style="gap: 10px;">

            {% csrf_token %}

            <!-- Filters Container -->
            <div class="is-flex is-flex-wrap-wrap is-justify-content-start" style="gap: 10px;">
                {% for field in filter.form %}
                <div class="field" style="width: 150px; min-width: 120px;">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                {{ filter.form.media }}
            </div>

            <!-- Filter Button -->
            <div class="is-flex">
                <button type="submit" class="button is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <span>Filter Items</span>
                </button>
            </div>
        </form>
    </section>

    <div class="has-text-right my-3">
        {% if request.organization_user.is_admin or 'orders.add_hospitalization' in organization_user_perms %}
        <a class="button is-primary"
            hx-get="{% url 'organization_features:orders:hospitalization_add' request.organization.slug %}?{% url_replace %}"
            hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator" hx-swap="innerHTML">Add
            hospitalization</a>
        {% endif %}
    </div>

    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="is-selected">
                <tr class="is-selected">
                    <th>#</th>
                    <th style="text-align: center;">Customer</th>
                    <th style="text-align: center;">Room</th>
                    <th style="text-align: center;">Bed</th>
                    <th style="text-align: center;">Admission</th>
                    <th style="text-align: center;">Discharge</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Nigths</th>
                    <th style="text-align: center;">Total price</th>
                    <th style="text-align: center;" colspan="9">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for hospitalization in hospitalizations %}
                <tr>
                    <td style="text-align: center;">{{ forloop.counter0 }}</td>
                    <td style="text-align: center;">{{ hospitalization.medical_visit }}</td>
                    <td style="text-align: center;">{{ hospitalization.room}}</td>
                    <td style="text-align: center;">{{ hospitalization.bed_number}}</td>
                    <td style="text-align: center;">{{ hospitalization.admission_datetime}}</td>
                    <td style="text-align: center;">{{ hospitalization.discharge_datetime}}</td>
                    <td style="text-align: center;">{{ hospitalization.status}}</td>
                    <td style="text-align: center;">{{ hospitalization.hospital_nights}}</td>
                    <td style="text-align: center;">{{ hospitalization.total_price.normalize}}F</td>

                    {% if request.organization_user.is_admin or 'orders.change_hospitalization' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:hospitalization_change' request.organization.slug hospitalization.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.view_hospitalization' in organization_user_perms %}
                    <td style="text-align: center;">
                        <button
                            hx-get="{% url 'organization_features:orders:hospitalization_detail' request.organization.slug hospitalization.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-eye"></i></button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.delete_hospitalization' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:hospitalization_delete' request.organization.slug hospitalization.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to delete?" class="button">
                            <i class="fa-solid fa-trash-can fa-1x has-text-danger"></i></button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/partials/pagination.html" %}
    </div>
</div>

{% endpartialdef %}

{% endblock quanta_content %}