{% extends "core/quanta.html" %}
{% load crispy_forms_tags %}
{% load partials %}
{% load core %}

{% block title %}
Organizations stock
{% endblock title %}

{% block quanta_content %}

{% partialdef list inline=True %}
{% include "core/partials/messages.html" %}
<div class="block px-2 mx-2 px-5-desktop mx-5-desktop fade-in">

    <section class="section mx-0 px-0 fade-in">
        <form id="my_form" class="is-flex is-flex-wrap-wrap is-align-stocks-center is-justify-content-start"
            style="gap: 10px;">

            {% csrf_token %}

            <!-- Filters Container -->
            <div class="is-flex is-flex-wrap-wrap is-justify-content-start" style="gap: 10px;">
                {% for field in filter.form %}
                <div class="field" style="width: 150px; min-width: 120px;">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                {{ filter.form.media }}
            </div>

            <!-- Filter Button -->
            <div class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-start">
                <button type="submit"
                    hx-get="{% url 'organization_features:orders:stock_list' request.organization.slug %}"
                    hx-target="#quanta_content" hx-swap="innerHTML" hx-push-url="true"
                    hx-indicator="#custom-htmx-indicator" hx-include="#my_form"
                    class="button mx-1 is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <span>Filter Items</span>
                </button>

                <button type="submit"
                    hx-get="{% url 'organization_features:order_docs:stock_list_export' request.organization.slug 'pdf' %}"
                    target="_blank" hx-swap="none" hx-push-url="true" hx-include="#my_form"
                    class="button mx-1 is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-regular fa-file-pdf"></i>
                    </span>
                    <span>PDF</span>
                </button>

                <button type="submit"
                    hx-get="{% url 'organization_features:order_docs:stock_list_export' request.organization.slug 'excel' %}"
                    target="_blank" hx-swap="none" hx-push-url="true" hx-include="#my_form"
                    class="button mx-1 is-primary is-rounded is-fullwidth-mobile">
                    <span class="icon">
                        <i class="fa-solid fa-file-excel"></i>
                    </span>
                    <span>Excel</span>
                </button>
            </div>
        </form>
    </section>


    <div class="has-text-right my-3">
        {% if request.organization_user.is_admin or 'orders.add_stock' in organization_user_perms %}
        <a class="button is-primary"
            hx-get="{% url 'organization_features:orders:stock_add' request.organization.slug %}?{% url_replace %}"
            hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator" hx-swap="innerHTML">Add
            stock</a>
        {% endif %}
    </div>

    <div class="table-container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="is-selected">
                <tr class="is-selected">
                    <th>#</th>
                    <th style="text-align: center;">Batch</th>
                    <th style="text-align: center;">User</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Quantity</th>
                    <th style="text-align: center;">Stock</th>
                    <th style="text-align: center;">purcharse</th>
                    <th style="text-align: center;">facturation</th>
                    <th style="text-align: center;">Received date</th>
                    <th style="text-align: center;">Expiration date</th>
                    <th style="text-align: center;">Category</th>
                    <th style="text-align: center;">Supplier</th>
                    <th style="text-align: center;">Active</th>
                    <th style="text-align: center;">Last maintainer</th>
                    <th style="text-align: center;" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td style="text-align: center;">{{ forloop.counter0 }}</td>
                    <td style="text-align: center;">{{ stock.batch.batch_number }}</td>
                    <td style="text-align: center;">{{ stock.organization_user }}</td>
                    <td style="text-align: center;">{{ stock.batch.item.name }}</td>
                    <td style="text-align: center;">{{ stock.quantity }}</td>
                    <td style="text-align: center;">
                        {% if stock.batch.item.is_alert %}
                        <span class="tag is-danger is-rounded">Alert</span>
                        {% else %}
                        <span class="tag is-success is-rounded">Dispo</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">{{ stock.batch.purchase_price.normalize }}</td>
                    <td style="text-align: center;">{{ stock.batch.facturation_price.normalize }}</td>
                    <td style="text-align: center;">{{ stock.batch.received_date }}</td>
                    <td style="text-align: center;">
                        {% if stock.batch.is_expired %}
                        <span class="tag is-danger is-rounded">{{ stock.batch.expiration_date }}</span>
                        {% else %}
                        <span class="tag is-success is-rounded">{{ stock.batch.expiration_date }}</span>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">{{ stock.batch.item.category.name }}</td>
                    <td style="text-align: center;">{{ stock.batch.supplier }}</td>
                    <td style="text-align: center;">
                        {% if stock.batch.is_active %}
                        <i class="fa-solid fa-check fa-2x has-text-success"></i>
                        {% else %}
                        <i class="fa-solid fa-xmark fa-2x has-text-danger-light"></i>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">{{ stock.batch.last_maintainer.user.username }}</td>

                    {% if request.organization_user.is_admin or 'orders.change_stock' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:stock_change' request.organization.slug stock.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.view_stock' in organization_user_perms %}
                    <td style="text-align: center;">
                        <button
                            hx-get="{% url 'organization_features:orders:stock_detail' request.organization.slug stock.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-swap="innerHTML" hx-indicator="#custom-htmx-indicator"
                            class="button">
                            <i class="fa-solid fa-eye"></i></button>
                    </td>
                    {% endif %}

                    {% if request.organization_user.is_admin or 'orders.delete_stock' in organization_user_perms %}
                    <td style="text-align: center;"><button
                            hx-get="{% url 'organization_features:orders:stock_delete' request.organization.slug stock.batch.pk %}?{% url_replace %}"
                            hx-target="#quanta_content" hx-confirm="Are you sure you want to delete?" class="button">
                            <i class="fa-solid fa-trash-can fa-1x has-text-danger"></i></button>
                    </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "core/partials/pagination.html" %}
    </div>
</div>

{% endpartialdef %}

{% endblock quanta_content %}