{% extends 'core/pdf_base.html' %}
{% load static %}
{% load qr_code %}
{% load core %}
{% load humanize %}

{% block pdf_style %}
<style>
    .is-a4paper {
        width: 794px !important;
        height: 1123px !important;
        margin-top: 0px !important;
        padding-top: 45px !important;
        margin-top: 0px !important;
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
</style>
{% endblock pdf_style %}


{% block content %}

<div class="block mt-3 mb-0 pb-0 is-flex is-align-items-center is-justify-content-space-between">

    <figure class="image p-0 my-0 ml-0 mr-3">
        {% if request.organization.logo %}
        <img class="image" src="{{ request.organization.logo.url }}" style="width: 150px; height: 110px;">
        {% else %}
        <img class="image" src="{% static 'core/img/quanta_logo.jpg' %}" style="width: 150px; height: 110px;">
        {% endif %}
    </figure>
    <p class="title is-size-3 p-0 m-0 has-text-centered">
        {{request.organization.name|capfirst}} - REÇU </p>

    <figure class="image box p-0 my-0 ml-0 mr-3">
        <!-- <img class="is-student-profile-code" src="../../static/accounts/img/profile.jpg" alt=""> -->
        <img class="p-0 m-0 image is-96x96"
            src="{% qr_url_from_text coverage_facturation.pk size=8 version=10 image_format='png' %}"
            alt="Hello World!">
    </figure>
</div>

<hr />

<div class="is-flex is-size-7 is-justify-content-space-between is-align-items-center mt-0">

    <div class="box has-text-left p-0 m-0">
        <p class="mb-1 pb-0"><span class="has-text-weight-bold">Entreprise</span>:{{ request.organization.name|upper }}
        </p>
        <p class="mb-1 pb-0"><span class="has-text-weight-bold">Agence de</span>
            {{ request.organization.city|upper }}</p>
        <p class="has-text-left m-0 p-0"><span class="has-text-weight-bold">Adresse:</span>
            {{ request.organization.street_address }}</p>
        <p class="has-text-left m-0 p-0"><span class="has-text-weight-bold">Téléphone:
            </span>{{ request.organization.contact_number }}</p>
        <p class="has-text-left m-0 p-0"><span class="has-text-weight-bold">BP: </span>5880 Dla
        </p>
        <p class="has-text-left m-0 p-0"><span
                class="has-text-weight-bold">Email:</span>{{ request.organization.contact_email }}</p>
        {% if request.organization.contribuable %}
        <p class="has-text-left m-0 p-0"> <span class="has-text-weight-bold">N°
                contribuable: </span>{{ request.organization.contribuable|default_if_none:'____________' }}</p>
        {% endif %}
    </div>

    <div class"block" style="border-style: dashed; padding:10px">
        <p class="has-text-left py-0 my-0"> <span class="has-text-weight-bold">DOIT:</span>
            {% if coverage_facturation.coverage_delivery_receipt.coverage.payer %}
            {{ coverage_facturation.coverage_delivery_receipt.coverage.payer }}
            {% else %}
            {{ coverage_facturation.coverage_delivery_receipt.coverage.name }}
            {% endif %}
        </p>
        <p class="has-text-left"> <span class="has-text-weight-bold">Couverture:</span>
            {% if coverage_facturation.coverage_delivery_receipt.coverage.location %}
            {{ coverage_facturation.coverage_delivery_receipt.coverage.name }} -
            {{ coverage_facturation.coverage_delivery_receipt.coverage.location }}
            {% else %}
            {{ coverage_facturation.coverage_delivery_receipt.coverage.name }}
            {% endif %}
        </p>
        <p class="has-text-left"> <span class="has-text-weight-bold">BP:</span>
            {{ coverage_facturation.coverage_delivery_receipt.coverage.postal_address }}</p>
        <p class="has-text-left"> <span class="has-text-weight-bold">R.C:</span>
            {{ coverage_facturation.coverage_delivery_receipt.coverage.commercial_register }}</p>
        <p class="has-text-left"> <span class="has-text-weight-bold">N° Contribuable:</span>
            {{ coverage_facturation.coverage_delivery_receipt.coverage.contribuable }}</p>

        <p class="has-text-left py-0 my-0"> <span class="has-text-weight-bold">N° BPC:
                {{ coverage_facturation.bpc_number|default_if_none:'______________' }}</span></p>
    </div>
</div>

<hr />

<div class="block">
    <p class="title is-size-6 has-text-centered m-0 p-0">Facture N°:
        {{ coverage_facturation.custom_bill_number|default_if_none:coverage_facturation.bill_number }}
    </p>
    <p class="subtitle is-size-6 has-text-centered m-0 p-0">Date du récu:
        {{ coverage_facturation.created|default_if_none:"N/A" }}
    </p>
</div>


<hr class="my-1" />

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-size-7">
    <tbody>
        <tr>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Customer </td>

            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Téléphone </td>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Société </td>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Mat. </td>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Médecin </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation.medical_visit.patient.username }} </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation.medical_visit.patient.phone_number }} </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation.company }} </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation.medical_visit.patient_number|default_if_none:'______________' }} </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation.medecin|default_if_none:'________________________________' }}
            </td>
        </tr>
    </tbody>

</table>

<hr class="my-1" />

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-size-7">

    <thead>
        <tr class="is-selected">
            <th class="has-text-centered">Product</th>
            <th class="has-text-left">Description</th>
            <th class="has-text-centered">Qté</th>
            <th class="has-text-centered">P.U.</th>
            <th class="has-text-centered">Montant HT</th>
            <th class="has-text-centered">TVA ({{request.organization.tax_rate}} %)</th>
            <th class="has-text-centered">Montant TTC</th>
        </tr>
    </thead>

    <tbody>
        {% for coverage_facturation_batch in coverage_facturation.coverage_facturation_batchs.all %}
        <tr>
            <td class="has-text-weight-medium has-text-centered is-vcentered">
                {% if coverage_facturation_batch.custom_batch_name %}
                {{coverage_facturation_batch.custom_batch_name}}
                {% else %}
                {{ coverage_facturation_batch.batch.item.name }}
                {% endif %}
            </td>
            <td class="has-text-weight-medium has-text-centered is-vcentered"></td>
            <td style="text-align: center; vertical-align: middle;">{{ coverage_facturation_batch.quantity }}</td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation_batch.unit_price.normalize|intcomma }}
            </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation_batch.total_price.normalize|intcomma }}
            </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation_batch.total_tax.normalize|floatformat:0|intcomma }}
            </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ coverage_facturation_batch.total_price_with_tax.normalize|floatformat:0|intcomma }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<table class="table is-pulled-right is-bordered is-striped is-narrow is-hoverable is-size-7">

    <tbody>
        <tr>
            <td class="has-text-centered" colspan="2">Total HT</td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.total_price.normalize|intcomma }}
                CFA
            </td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.total_price.normalize|to_words|capfirst }}
                CFA
            </td>
        </tr>
        <tr>
            <td class="has-text-centered " colspan="2">Total TVA</td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.total_tax.normalize|floatformat:0|intcomma }}
                CFA
            </td>

            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.total_tax.normalize|floatformat:0|to_words|capfirst }}
                CFA
            </td>
        </tr>
        <tr>
            <td class="has-text-weight-semibold  has-text-centered " colspan="2">Total TTC</td>
            <td colspan="3" class="has-text-weight-semibold  has-text-centered">
                {{ coverage_facturation.total_price_with_tax.normalize|floatformat:0|intcomma }}
                CFA
            </td>

            <td colspan="3" class="has-text-weight-semibold has-text-centered">
                {{ coverage_facturation.total_price_with_tax.normalize|floatformat:0|to_words|capfirst }}
                CFA
            </td>
        </tr>
        <tr>
            <td class="has-text-centered" colspan="2">Ticker moderateur ({{coverage_facturation.complement}}%)</td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.complement_total_price.normalize|intcomma }}
                CFA
            </td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.complement_total_price.normalize|to_words|capfirst }}
                CFA
            </td>
        </tr>
        <tr>
            <td class="has-text-centered" colspan="2">Bon de prise en charge
                ({{coverage_facturation.coverage_percentage}}%)</td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.coverage_total_price.normalize|intcomma }}
                CFA
            </td>
            <td colspan="3" class="has-text-centered">
                {{ coverage_facturation.coverage_total_price.normalize|to_words|capfirst }}
                CFA
            </td>
        </tr>
    </tbody>
</table>
<div class="is-clearfix"></div>

<hr />

<div class="watermarked">SAINT JOHN</div>

<p class="my-2 has-text-right">Fait à {{ request.organization.city }} le {{ coverage_facturation.created }} </p>
<div class="block is-flex is-justify-content-space-between is-align-items-center mt-0">
    <div class="block is-flex is-flex-direction-column is-align-items-start mb-2">
        <p class="title is-size-5">Signature du patient</p>
        <p class="subtitle is-size-6 mb-1"></p>
        <p class="subtitle is-size-7 has-text-centered">{{ coverage_facturation.medical_visit.patient.username }}</p>
    </div>

    <div class="block is-flex is-flex-direction-column is-align-items-start mb-2">
        <p class="title is-size-5">La caisse</p>
        <p class="subtitle is-size-6 mb-1"></p>
        <p class="subtitle is-size-7 has-text-centered">{{ request.organization_user.user.username }}</p>
    </div>
</div>
<div class="has-text-centered" style="margin-top: 30px;">
    <hr />
    <p class="is-size-5">Centre Medical Saint John de Yassa Sarl</p>
    <p>{{ request.organization.name }} • {{ request.organization.contact_number }} •
        {{ request.organization.name }}
    </p>
    <p>RCM:RC/DLA/2023/B/ - NIU:M022317969368W</p>
</div>
{% endblock content %}