{% extends "core/pdf_base_matrix_lx350_printer.html" %}
{% load static %}
{% load qr_code %}
{% load core %}
{% load humanize %}
{% load l10n %}
{% block content %}
    <div class="has-text-weight-bold block py-0 my-0 is-flex is-align-items-center is-justify-content-space-between pt-1"
         style="gap: 10px">
        <figure class="has-text-weight-bold image p-0 my-0">
            {% if request.organization.logo %}
                <img class="has-text-weight-bold image p-0 m-0"
                     alt="{{ request.organization.name }} Logo"
                     height="60px"
                     width="150px"
                     src="{{ request.organization.logo.url }}">
            {% else %}
                <img class="has-text-weight-bold image p-0 m-0"
                     height="60px"
                     width="150px"
                     alt="Quanta Logo"
                     src="{% static 'core/img/quanta_logo.jpg' %}">
            {% endif %}
        </figure>
        <div class="has-text-weight-bold has-text-centered p-0 m-0">
            <p class="has-text-weight-bold title is-size-6 mb-0 pb-0">{{ request.organization.name|upper }}</p>
            <p class="has-text-weight-bold subtitle is-size-7 has-text-centered m-0 p-0">
                {{ request.organization.street_address }}
            </p>
            <p class="has-text-weight-bold subtitle is-size-7 has-text-centered m-0 p-0">
                Tel:{{ request.organization.contact_number }}
            </p>
        </div>
        <figure>
            <!-- <img class="has-text-weight-bold is-student-profile-code"
      src="../../static/accounts/img/profile.jpg"
      alt=""> -->
            <img class="has-text-weight-bold p-0 m-0 image is-64x64"
                 width="64px"
                 height="64px"
                 src="{% qr_url_from_text facturation.pk size=8 version=10 image_format='png' %}"
                 alt="Hello World!">
        </figure>
    </div>
    <hr class="has-text-weight-bold my-1 py-1" />
    <table class="has-text-weight-bold table is-borderless  is-narrow is-fullwidth is-size-7 py-0 my-0">
        <thead>
            <tr>
                <th class="has-text-weight-bold is-size-6 my-0 py-0"
                    style="text-align: left;
                           border: 0;
                           vertical-align: middle">RÉÇU DE CAISSE</th>
                <th colspan="2" style="border: 0;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="has-text-weight-bold my-0 py-0"
                    style="text-align: left;
                           vertical-align: middle;
                           border: 0">No: {{ facturation.bill_number|default_if_none:"N/A" }}</td>
                <td class="has-text-weight-bold my-0 py-0"
                    colspan="2"
                    style="text-align: left;
                           vertical-align: middle;
                           border: 0">
                    {{ "Nom(s) :" }} <b>{{ facturation.customer.name|capfirst }}</b>
                </td>
            </tr>
        </tbody>
    </table>
    {% comment %} <hr class="has-text-weight-bold my-0 mb-1 py-0" /> {% endcomment %}
    <table class="has-text-weight-bold table is-bordered is-narrow is-fullwidth is-size-7 py-0 my-0 mt-3">
        <thead>
            <tr class="has-text-weight-bold my-0 py-0">
                <th class="has-text-weight-bold my-0 py-0 has-text-left">DESIGNATIONS</th>
                <th class="has-text-weight-bold my-0 py-0 has-text-left">QTE</th>
                <th class="has-text-weight-bold my-0 py-0 has-text-left">PRIX UNITAIRE</th>
                <th class="has-text-weight-bold my-0 py-0 has-text-left">SOUS TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for facturation_stock in facturation.facturation_stocks.all %}
                <tr class="has-text-weight-bold my-0 py-0">
                    <td class="has-text-weight-bold my-0 py-0 has-text-left is-vcentered">
                        {{ facturation_stock.stock.batch.item.name }}
                    </td>
                    <td class="has-text-weight-bold my-0 py-0"
                        style="text-align: left;
                               vertical-align: middle">{{ facturation_stock.quantity }}</td>
                    <td class="has-text-weight-bold my-0 py-0"
                        style="text-align: left;
                               vertical-align: middle">{{ facturation_stock.unit_price.normalize|intcomma }}</td>
                    <td class="has-text-weight-bold my-0 py-0"
                        style="text-align: left;
                               vertical-align: middle">{{ facturation_stock.total_price.normalize|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} <hr class="has-text-weight-bold my-1 mt-1 py-1" /> {% endcomment %}
    <table class="has-text-weight-bold table is-bordered is-narrow is-fullwidth is-size-7 py-0 my-0 mt-3">
        <thead>
            <tr class="has-text-weight-bold my-0 py-0">
                <th class="has-text-weight-bold my-0 py-0 has-text-left">TOTAL HT</th>
                <th class="has-text-weight-bold my-0 py-0 has-text-left" colspan="3">TOTAL HT EN LETTRE</th>
                <th class="has-text-weight-bold my-0 py-0 has-text-left">DERNIER PAIEMENT</th>
                <th class="has-text-weight-bold my-0 py-0 has-text-left">DETTE</th>
            </tr>
        </thead>
        <tbody>
            <tr class="has-text-weight-bold my-0 py-0">
                <td class="has-text-weight-bold my-0 py-0 has-text-centered">
                    {{ facturation.total_price.normalize|intcomma }}
                    FCFA
                </td>
                <td colspan="3" class="has-text-weight-bold my-0 py-0 has-text-centered">
                    {{ facturation.total_price.normalize|to_words|capfirst }}
                    CFA
                </td>
                <td class="has-text-weight-bold my-0 py-0 has-text-centered">
                    {{ facturation.medical_visit.last_payment.normalize|intcomma }} FCFA
                </td>
                <td class="has-text-weight-bold my-0 py-0 has-text-centered">
                    {{ facturation.medical_visit.patient.remaining.normalize|intcomma }} FCFA
                </td>
            </tr>
        </tbody>
    </table>
    <div class="has-text-weight-bold watermarked">{{ request.organization.short_name }}</div>
    <p class="has-text-weight-bold mt-2 has-text-right is-size-7">Le {{ facturation.created }}</p>
    <div class="has-text-weight-bold block is-flex is-justify-content-space-between is-align-items-center my-0 py-0">
        <div class="has-text-weight-bold block is-flex is-flex-direction-column is-align-items-start my-0 py-0 mb-1">
            <p class="has-text-weight-bold title is-size-7">La caisse</p>
            {% comment %} <p class="has-text-weight-bold subtitle is-size-7 mb-1"></p> {% endcomment %}
            <p class="has-text-weight-bold subtitle is-size-7 has-text-centered">
                {{ facturation.organization_user.user.username|capfirst }}
            </p>
        </div>
        <div class="has-text-weight-bold block is-flex is-flex-direction-column is-align-items-start my-0 py-0 mb-1">
            {% comment %} <p class="has-text-weight-bold title is-size-7">La caisse</p>
            <p class="has-text-weight-bold subtitle is-size-7 mb-1"></p>
            <p class="has-text-weight-bold subtitle is-size-7 has-text-centered">
                {{ facturation.organization_user.user.username }}
            </p> {% endcomment %}
        </div>
    </div>
    <hr class="has-text-weight-bold py-0 my-0" />
    <p class="has-text-weight-bold subtitle is-size-7 has-text-centered">
        Imprimée par {{ request.organization_user.user.username|capfirst }} le {% now "SHORT_DATETIME_FORMAT" %}
    </p>
{% endblock content %}
