{% extends "core/base.html" %}

{% block title %}Quanta - Bad Request (400){% endblock title %}

{% block content %}

<h1 class="ph3 db">
    Uh oh, bad request (<span class="i">400</span>)
</h1>

<div class="mh3 overflow-auto w-50">

    <h3>Something went wrong</h3>

    <p>We've received a bad request.. Things didn't go a planned. Try again later, or if the problem persists, feel free
        to contact me.</p>

    <h3>Contact</h3>

    <p class="lh-copy">
        Feel free to contact met at <a href="mailto:liedjiwenkack@gmail.com">liedjiwenkack@gmail.com</a> with any
        suggestions/ideas
        or
        otherwise!
        If you do have a feature request or found a bug, consider contacting us, this speeds up the process
        considerably!
    </p>


</div>

{% endblock %}