{% extends 'core/pdf_base.html' %}
{% load static %}
{% load qr_code %}
{% load core %}

{% block pdf_style %}
<style>
    .is-a4paper {
        width: 794px !important;
        height: 1123px !important;
        margin-top: 0px !important;
        padding-top: 45px !important;
        margin-top: 0px !important;
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
</style>
{% endblock pdf_style %}


{% block content %}
<div class="has-text-left">
    <div class="is-flex is-justify-content-center is-align-items-center">
        <figure class="image box p-0 my-0 ml-0 mr-3">
            {% if request.organization.logo %}
            <img class="image" src="{{ request.organization.logo.url }}" width="110" height="110">
            {% else %}
            <img class="image" src="{% static 'core/img/quanta_logo.jpg' %}" width="110" height="110">
            {% endif %}
        </figure>
        <div class="box has-text-centered p-0 m-0">
            <p class="title is-size-1 mb-1 pb-0">{{ request.organization.name|upper }}</p>
            <p class="subtitle is-size-6 has-text-centered m-0 p-0">{{ request.organization.street_address }}</p>
            <p class="subtitle is-size-6 has-text-centered m-0 p-0">BP 8735-YANSOKI-DOUALA,
                tel:{{ request.organization.contact_number }}</p>
            <p class="subtitle is-size-6 has-text-centered m-0 p-0">Email:{{ request.organization.contact_email }}</p>
        </div>
    </div>
</div>
<hr class="mb-1" />
<p class="title is-size-2 p-0 m-0 has-text-centered has-background-primary has-text-weight-bold has-text-light">
    RÉÇU--CAISSE DÉPENSES</p>

<div class="block mt-3 mb-0 pb-0 is-flex is-align-items-center is-justify-content-space-between">
    <div class="block is-flex is-flex-direction-column is-justify-content-center is-align-content-center">
        <p class="title is-size-3 has-text-centered mb-1 p-0">Réçu</p>
        <p class="subtitle is-size-6 has-text-centered m-0 p-0">No:
            {{ withdrawal.bill_number|default_if_none:"N/A" }}
        </p>
    </div>

    <figure>
        <!-- <img class="is-student-profile-code" src="../../static/accounts/img/profile.jpg" alt=""> -->
        <img class="p-0 m-0 image is-96x96"
            src="{% qr_url_from_text withdrawal.pk size=8 version=10 image_format='png' %}" alt="Hello World!">
    </figure>
</div>

<p class="has-text-left is-size-5"> <span class="has-text-weight-bold">Recipient:</span>
    {{ withdrawal.recipient }}</p>

{% comment %}
<hr /> {% endcomment %}
{% comment %}
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">

    <tbody>
        <tr>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Profession </td>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Age </td>
            <td class="has-text-weight-bold" style="text-align: center; vertical-align: middle;">
                Téléphone </td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                {{ withdrawal.patient.user.profession}} </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ withdrawal.patient.user.birth_date|extract_years }} </td>
            <td style="text-align: center; vertical-align: middle;">
                {{ withdrawal.patient.user.phone_number}} </td>
        </tr>
    </tbody>


</table> {% endcomment %}

<hr />

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-size-7">

    <thead>
        <tr class="is-selected">
            <th class="has-text-centered">Category</th>
            <th class="has-text-centered">Caisse</th>
            <th class="has-text-centered">Motif</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="has-text-centered is-vcentered">
                {{ withdrawal.withdrawal.name }} </td>
            <td style="text-align: center; vertical-align: middle;">{{ withdrawal.cash_register.name }}
            <td style="text-align: center; vertical-align: middle;">{{ withdrawal.reason }}</td>
            </td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td class="has-text-weight-medium has-text-centered" colspan="2">MONTANT TOTAL</td>
            <th class="has-text-weight-medium has-text-centered" colspan="1">{{ withdrawal.amount.normalize }} FCFA
            </th>
        </tr>
        <tr>
            <td class="has-text-weight-medium has-text-centered " colspan="2">MONTANT TOTAL EN LETTRE</td>
            <td colspan="1" class="has-text-weight-medium has-text-centered">
                {{ withdrawal.amount.normalize|to_words|capfirst }}
                CFA
            </td>
        </tr>
    </tfoot>
</table>

<hr />

<div class="watermarked">SAINT JOHN</div>

<p class="my-2 has-text-right">Fait à {{ request.organization.city }} le {{ withdrawal.created }} </p>
<div class="block is-flex is-justify-content-space-between is-align-items-center mt-0">
    <div class="block is-flex is-flex-direction-column is-align-items-start mb-2">
        <p class="title is-size-4">Signature du patient</p>
        <p class="subtitle is-size-6 mb-1"></p>
        <p class="subtitle is-size-7 has-text-centered">{{ withdrawal.patient.user.username }}</p>
    </div>

    <div class="block is-flex is-flex-direction-column is-align-items-start mb-2">
        <p class="title is-size-4">La direction</p>
        <p class="subtitle is-size-6 mb-1"></p>
    </div>
</div>
<div class="has-text-centered" style="margin-top: 25px;">
    <hr />
    <p class="is-size-5">Centre Medical Saint John de Yassa Sarl</p>
    <p>{{ request.organization.name }} • +237 699451227 / +237 675922664 •
        {{ request.organization.name }}
    </p>
    <p>RCM:RC/DLA/2023/B/ - NIU:M022317969368W</p>
</div>
{% endblock content %}