{% extends 'core/pdf_base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load qr_code %}
{% load static %}
{% load mathfilters %}
{% load l10n %}
{% load core %}
{% load partials %}

{% block title %}
Organizations batch report pdf
{% endblock title %}

{% block content %}

<div class="has-text-left">
    <div class="is-flex is-justify-content-center is-align-items-center">
        <figure class="image box p-0 my-0 ml-0 mr-3">
            {% if request.organization.logo %}
            <img class="image" src="{{ request.organization.logo.url }}" style="width: 150px; height: 110px;">
            {% else %}
            <img class="image" src="{% static 'core/img/quanta_logo.jpg' %}" style="width: 150px; height: 110px;">
            {% endif %}
        </figure>
        <div class="box has-text-centered p-0 m-0">
            <p class="title is-size-4 mb-3 pb-0">{{ request.organization.name|upper }}</p>
            <p class="title is-size-5 mb-5 pb-0">{{ request.organization.sub_name|upper }}</p>
            <p class="subtitle is-size-7 has-text-centered m-0 p-0">{{ request.organization.street_address }}</p>
            <p class="subtitle is-size-7 has-text-centered m-0 p-0">BP 8735-YANSOKI-DOUALA,
                tel:{{ request.organization.contact_number }}</p>
            <p class="subtitle is-size-7 has-text-centered m-0 p-0">Email:{{ request.organization.contact_email }}</p>
        </div>
    </div>
</div>
<hr class="mb-1" />

<p class="title is-size-4 has-text-weight-bold">Fiche de commande</p>
<p class="subtitle is-size-6 has-text-centered">Imprimé le {% now "SHORT_DATETIME_FORMAT" %}</p>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-size-7">
    <thead>
        <tr class="is-selected">
            {% for field in filter_form_data_list %}<th style="text-align: center;">{{ field.label }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for field in filter_form_data_list %}
                <td style="text-align: center;">
                    {% if field.value == "None" %}
                    {% else %}
                        {{ field.value }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-size-7">
    <thead class="is-selected">
        <tr class="is-selected">
            <th>#</th>
            <th style="text-align: center;">Category</th>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Qte</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td class="my-0 py-0" style="text-align: center;">{{ forloop.counter0 }}</td>
            <td class="my-0 py-0" style="text-align: center;">{{ stock.batch.item.category.name }}</td>
            <td class="my-0 py-0" style="text-align: center;">{{ stock.batch.item.name }}</td>
            <td class="my-0 py-0" style="text-align: center;">{{ stock.batch.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}