<div class="section mx-0 p-6 has-background-danger-light">
    <div class="columns my-0 mx-0 has-background-danger-light">
        <div class="column">
            <h4 class="title is-4">Fruits</h4>
            <p class="">
                randomised words which don't look even slightly believable. If you are going to use
                a passage of Lorem Ipsum,
            </p>
        </div>
        <div class="column">
            <h4 class="title is-4">Services</h4>
            <p class="">
                randomised words which don't look even slightly believable. If you are going to use
                a passage of Lorem Ipsum,
            </p>
        </div>
        <div class="column">
            <h4 class="title is-4">List</h4>
            <p class="">
                randomised words which don't look even slightly believable. If you are going to use
                a passage of Lorem Ipsum,
            </p>
        </div>

        <div class="column">
            <h4 class="title is-4">Follow Us</h4>

            <div class="buttons">
                <a class="button is-medium is-facebook is-inverted is-black-social">
                    <span class="icon">
                        <i class="fab fa-facebook fa-lg"></i>
                    </span>
                </a>
                <a class="button is-medium is-instagram is-inverted is-black-social">
                    <span class="icon">
                        <i class="fab fa-instagram fa-lg"></i>
                    </span>
                </a>
                <a class="button is-medium is-twitter is-inverted is-black-social">
                    <span class="icon">
                        <i class="fab fa-twitter fa-lg"></i>
                    </span>
                </a>
                <a class="button is-medium is-youtube is-inverted is-black-social">
                    <span class="icon">
                        <i class="fab fa-youtube fa-lg"></i>
                    </span>
                </a>
            </div>
            <h4 class="title is-4">Subscribe Now</h4>
            <div class="field">
                <input class="input" type="text" placeholder="Email" />
            </div>
            <div class="buttons">
                <button class="button is-left is-medium is-orange">Subscribe</button>
            </div>
        </div>
    </div>
    <p class="my-0 mx-0 has-text-centered has-background-danger-light">
        Copyright &copy; 2023 DATAVITE SARL All rights reserved. ♥ by
        <a href="mailto:liedjiwenkack@gmail.com">liedji</a>
    </p>
</div>