{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<div class="field is-horizontal languages">
    <div class="field-body">
        <div class="field">
            <div class="control">
                <div class="select">
                    <select id="language-select" onchange="location = this.value;">
                        {% for language in languages %}
                        <option value="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} selected
                            {% endif %}>
                            {% if language.code == "fr" %}
                            🇫🇷
                            <!-- French flag emoji -->
                            {% elif language.code == "en" %}
                            🇬🇧🇺🇸
                            <!-- British flag emoji -->
                            <!-- US flag emoji -->
                            {% endif %}
                            {{ language.name_local }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>