{% extends 'core/quanta.html' %}
{% load crispy_forms_tags %}
{% load partials %}
{% load core %}

{% block title %}
Update Settings
{% endblock title %}

{% block quanta_content %}
{% partialdef change inline=True %}
{% include "core/partials/messages.html" %}

<section class="section fade-in">
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-one-quarter">
                <div class="box">
                    <h1 class="title is-1 has-text-centered">Settings</h1>
                    <form action="" method="POST" enctype="multipart/form-data" class="mb-4">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ form.media }}
                        <div class="columns is-multiline is-mobile">
                            <div class="column is-full-mobile is-flex is-justify-content-center is-align-items-center">
                                <button type="submit"
                                    hx-post="{% url 'organization_features:org_things:org_change' request.organization.slug %}"
                                    hx-target="#quanta_content" hx-indicator="#custom-htmx-indicator"
                                    hx-swap="innerHTML" hx-encoding="multipart/form-data"
                                    class="button is-primary is-rounded is-medium mx-2">
                                    Save Settings
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "core/partials/dal_fix.html" %}

{% endpartialdef  %}
{% endblock quanta_content %}