{% extends 'core/quanta.html' %}
{% load crispy_forms_tags %}

{% block title %}
Organizations Settings
{% endblock title %}

{% block quanta_content_header %}
{% endblock quanta_content_header %}

{% block quanta_content %}
{% comment %} {% include "organization/settings/nav_settings.html" %} {% endcomment %}
{% comment %} {% include "organization/settings/nav_settings.html" %} {% endcomment %}

{% comment %} <div class="block">
    <h1 class="title is-size-3">Change
        {{request.user.username}}{{request.user.email}}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="button is-primary is-large" type="submit" value="Save &raquo;">
    </form>
</div> {% endcomment %}

<div class="block">
    <h1 class="title is-size-3">Change user {{user}}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="field is-grouped is-grouped-centered">
            <div class="control">
                <button class="button is-primary" type="submit">Save</button>
            </div>
            <div class="control">
                <a class="button is-light"
                    href="{% url 'organization_features:users' request.organization.slug %}">Cancel</a>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {

        $(".related-widget-wrapper:has(table)").addClass('related-widget-wrapper-user-permissions');
        $('#perm_view_select_all').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.view').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('#perm_add_select_all').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.add').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('#perm_change_select_all').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.change').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('#perm_delete_select_all').on('change', function () {
            var state = $(this).prop('checked');
            $('#tabular_permissions').find('tr td.delete').find('input').each(function (i, e) {
                $(e).prop('checked', state)
            })
        });
        $('.select-all.select-row').on('change', function () {
            var $this = $(this);
            $this.parents('tr').find('.checkbox').not('.select-all').each(function (i, elem) {
                $(elem).prop('checked', $this.prop('checked'));
            })
        });
        $('form').on('submit', function () {
            var user_perms = [];
            alert("your forms was submitted");
            var table_permissions = $('#tabular_permissions');
            var input_name = table_permissions.attr('data-input-name');
            table_permissions.find("input[type=checkbox]").not('.select-all').each(function (i, elem) {
                var $elem = $(elem);
                if ($(elem).prop('checked')) {
                    user_perms.push($elem.attr('data-perm-id'))
                }
            });
            var user_group_permissions = $('[name=' + input_name + ']');
            var output = [];
            $.each(user_perms, function (key, value) {
                output.push('<option value="' + value +
                    '" selected="selected" style="display:none"></option>');
            });
            user_group_permissions.append(output);
        })

    });
</script>
<hr />
{% endblock quanta_content %}